#heading {
    color: red;
}

#parent {
    color: rgb(104, 18, 18);
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 120px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: 24px;
    color: white
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    /* height: 250px; */
    width: 200px;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
    margin: 10px;
}

.res-logo {
    width: 190px;
    height: 140px;
    margin: 5px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    background-color: #F0F0F0;
    padding: 5px;
    width: 200px;
    margin: 5px;
    height: 300px
}

/* .app {
    background-color: rgb(51, 58, 66)
} */

.login {
    padding: 0 20px;
}

.filter {
    display: flex;
}

.user-card {
    border:  2px solid black;
}

li {
    color: black;
}

.search-box {} 